{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'public/logo.png'%}">
    <title>Selamat Datang Di Aplikasi Layanan Surat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static 'public/assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'public/assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'public/assets/css/style.css'%}">
    <script src="{%static 'public/assets/js/jquery-3.2.1.min.js'%}"></script>
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="index-2.html" class="logo">
                    <!-- <img src="{%static 'public/assets/img/logo.png'%}" width="35" height="35" alt=""> -->
                    <span>APLIKASI LAYANAN SURAT</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">

                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="{%static 'public/assets/img/user.jpg'%}" width="24"
                                alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
                            data-target="#logoutModal"> Logout </i></a>

                    </div>
                </li>
            </ul>
        </div>
        {% include "navbar.html"%}

        {% block content %}
        {% endblock content %}

    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelLogout"><i class="fa fa-warning"></i> PERHATIAN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda ingin keluar dari aplikasi layanan surat?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Batal</button>
                    <a href="{% url 'logout' %}" class="btn btn-primary">Keluar</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{%static 'public/assets/js/popper.min.js'%}"></script>
    <script src="{%static 'public/assets/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'public/assets/js/jquery.slimscroll.js'%}"></script>
    <script src="{%static 'public/assets/js/Chart.bundle.js'%}"></script>
    {% comment %}
    <script src="{%static 'public/assets/js/chart.js'%}"></script> {% endcomment %}
    <script src="{%static 'public/assets/js/app.js'%}"></script>






</html>